window.__env = {
  BUILD_AI_FRONTEND_URL: "${BUILD_AI_FRONTEND_URL}",
  REACT_APP_FULL_ACCESS_PROJECTS: "${REACT_APP_FULL_ACCESS_PROJECTS}",
  REACT_APP_ITEMS_PER_PAGE: "${REACT_APP_ITEMS_PER_PAGE}"
};
