google-cloud-aiplatform==1.139.0
cloudpickle==3.0.0
pydantic>=2.10
requests>=2.31.0
fastapi>=0.133.1
uvicorn>=0.41.0
python-multipart>=0.0.22
python-dotenv>=1.2.2
langfuse>=4.5.0
opentelemetry-exporter-otlp-proto-http
httpx